@font-face {
    font-family: myWebFont;
    src: url(font/K2D-Regular.ttf);
}

body {
    font-family: myWebFont;
    font-size: 20px;
}

.hidden{
    display: none;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.close-button:hover {
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    height: fit-content;
    border: #622c0b solid;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    padding: 15px;
    text-align: center;
}
#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.header-element{
    color:white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-element:hover:not(.nohover){
    background-color: #77360e;
}
.font-header{
    font-size: 28px;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}